textarea {
    min-height: 400px;
}

@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
    }
}

.email-container {
    animation-name: remove;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.action_btn {
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.25s;
}

.action_btn:hover{
    transform: scale(1.33,1.33);
    color: #83bfff;
}